body {
    background-image: url();
    background-size:cover;
    background-position: center;

}

.container {
    max-width:1000px;
}

form .form-control {
    height: calc(3rem + 3px);
    padding: 1rem 2rem;
    font-size: 1rem;
}