<link href="~/css/home.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Начало";
}

<div class="intro">
    <div class="">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-black">
                <h1 class="mb-3">Добре дошли</h1>
            </div>
        </div>
    </div>
</div>